{% extends "layout.html" %}
{% block content %}

<div class="col-md-4">
    <h1>About</h1>
</div>

This website helps twitter users quench their thirst for Favorites and Retweets by
optimizing how and when they post. Quenchr compare the sentiment, content, length, and contained
media (e.g links, images) of a proposed tweet to other popular tweets containing the same keywords
 to find what results in the
most activity. Our website also gives our users the option to have our site post a given Tweet to their Twitter
at the optimal time for them.

{%endblock%}
