{% extends "layout.html" %}

{% block more_nav %}
<li><a href="/archive/">Archive</a></li>

<li id="logout">
     <form action="/logout/" method="POST">
         <input type="hidden" name="type" value="logout" />
         <button type="submit" class="btn btn-success">Logout</button>
     </form>

</li>
{% endblock %}

{% block content %}

<div class="col-md-12">
  <h1 style="margin: 5px 5px 5px 0;">Archive</h1>
  <h3 style="margin: 0;"><small>Your past tweets</small></h3>
  
</div>
<br>
{%for tweet in {{tweets}} %}
<h4> tweet + {{tweets}}[tweet] </h4>
{%endfor%}



{% endblock %}
