{% extends "layout.html" %}
{% block content %}

<form method="POST" action="/tweet/">
  <div class="col-md-4">
      <h3>Tweet something!</h3>
  </div>
  {{message}}

      <textarea rows="2" cols="100" name="tweet">
      Enter your tweet here...
    </textarea>

<div class="pull-right">
  <button type="submit">Quench!</button>
</div>

</form>

<form method = "POST" action = "/auth/">
  <div class="pull-right">
    <button type="submit">Authenticate my account!</button>
  </div>
</form>

<form method = "POST" action = "/tweeter/">
  <div class="pull-right">
    <button type="submit">Tweet for me!</button>
  </div>
</form>

<br>

{% endblock %}
