{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <h1>Quenchr</h1>
        <h3>Prepared to be followed <small>(on Twitter).</small></h3>
    </div>
    <div class="col-md-4">
        <h3>Register:</h3>
        <form method="POST" action="/authenticate/">
            <input type="hidden" name="type" value="register" />
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input name="handle" type="text" class="form-control" placeholder="Twitter Handle" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </span>
                <input name="pass1" type="password" class="form-control" placeholder="Password for Quenchr" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </span>
                <input name="pass2" type="password" class="form-control" placeholder="Re-enter password" />
            </div>
            <button class="btn btn-success" type="submit">Register</button>
            {{regerror}}
        </form>
    </div>
    <div class="col-md-4">
        <h3>Login:</h3>
        <form method="POST" action="/authenticate/">
            <input type="hidden" name="type" value="login" />
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input name="handle" type="text" class="form-control" placeholder="Twitter Handle" />
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </span>
                <input name="pass" type="password" class="form-control" placeholder="Password for Quenchr" />
            </div>
            <button class="btn btn-success" type="submit">Login</button>
            {{logerror}}
        </form>
    </div>
</div>
<script src="/static/js/hide.js"></script>

{% endblock %}
